<form [formGroup]="informationForm" (change)="onFormChange()">
    <div class="row">
        <div class="col-12 col-md-6 mb-3">
            <label class=" color-text">Vous êtes: &nbsp;</label>
            <select class="form-select" aria-label="Role" (change)="onRoleChange()" formControlName="role"
            [ngClass]="{
                'is-invalid':
                    informationForm.get('role')!.touched &&
                    informationForm.controls['role'].errors
            }">
                <option *ngFor="let role of roles" value="{{role.id}}">{{role.value}}</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6">
            <label for="nom">Nom</label>
            <div class="input-group mb-3">
                <input class="form-control" placeholder="Nom" id="nom" type="text" formControlName="lastname" [ngClass]="{
                            'is-invalid':
                                informationForm.get('lastname')!.touched &&
                                informationForm.controls['lastname'].errors
                        }" />
            </div>
        </div>

        <div class="col-12 col-md-6">
            <label for="prenom">Prénom</label>
            <div class="input-group mb-3">
                <input class="form-control" placeholder="Prénom" id="prenom" type="text" formControlName="firstname"
                    [ngClass]="{
                                'is-invalid':
                                    informationForm.get('firstname')!.touched &&
                                    informationForm.controls['firstname'].errors
                            }" />
            </div>
        </div>

        <div *ngIf="currentRole != 'INSURANCE_ADMIN' && currentRole != 'SOCIETE_REMORQUAGE_ADMIN' && currentRole != 'AGENCE_LOCATION'"
            class="col-12 col-md-6">
            <label for="username">Nom d'utilisateur</label>
            <div class="input-group mb-3">
                <input class="form-control" placeholder="Nom d'utilisateur" id="username" type="text"
                    formControlName="username" [ngClass]="{
                                'is-invalid':
                                    informationForm.get('username')!.touched &&
                                    informationForm.controls['username'].errors
                            }" />
            </div>
        </div>

        <div class="col-12 col-md-6">
            <label for="email">Email</label>
            <div class="input-group mb-3">
                <span class="input-group-text d-flex justify-content-center"><i class="fas fa-envelope"></i></span>
                <input class="form-control" placeholder="email" id="email" type="text" formControlName="email"
                    [ngClass]="{
                                'is-invalid':
                                    informationForm.get('email')!.touched &&
                                    informationForm.controls['email'].errors
                            }" />
            </div>
            <div *ngIf="informationForm.get('email')!.touched
                            && informationForm.get('email')?.hasError('email')" class="invalid-feedback">
                <p style="color: red;">Tapez une adresse email valide</p>
            </div>
        </div>

        <div class="col-12 col-md-6">
            <label for="phone">Téléphone</label>
            <div class="input-group mb-3">
                <span class="input-group-text d-flex justify-content-center"><i class="fas fa-phone"></i></span>
                <input class="form-control" placeholder="Téléphone" id="phone" type="number" formControlName="phone"
                    [ngClass]="{
                                'is-invalid':
                                    informationForm.get('phone')!.touched &&
                                    informationForm.controls['phone'].errors
                            }" />
            </div>
        </div>

        <div class="col-12 col-md-6">
            <label for="birthdate">Date de naissance</label>
            <div class="input-group mb-3">
                <input class="form-control" id="birthdate" type="date" formControlName="birthdate" [ngClass]="{
                            'is-invalid':
                                informationForm.get('birthdate')!.touched &&
                                informationForm.controls['birthdate'].errors
                        }" />
            </div>
        </div>

        <div class="col-12 col-md-6"
            *ngIf="currentRole == 'INSURANCE_ADMIN' || currentRole == 'SOCIETE_REMORQUAGE_ADMIN' || currentRole == 'AGENCE_LOCATION'">
            <label for="">{{companyLabel}}</label>
            <select class="form-select" aria-label="Default select example" formControlName="company" [ngClass]="{
                'is-invalid':
                    informationForm.get('company')!.touched &&
                    informationForm.controls['company'].errors
            }">
                <option *ngFor="let company of companyList" [value]="company.id">{{company.name}}</option>
            </select>
        </div>

        <div class="col-12 col-md-6">
            <label class="color-text">Genre: &nbsp;</label>
            <div class="form-check form-check-inline" *ngFor="let genre of genreList">
                <input class="form-check-input" type="radio" name="gender" id="{{genre.value}}" [value]="genre.id"
                    formControlName="gender">
                <label class="form-check-label" for="{{genre.value}}">{{genre.value}}</label>
            </div>
        </div>


    </div>
</form>