<form [formGroup]="vehicleForm" (change)="onFormChange()">
    <div class="row">
        <div class="col-12 col-md-4 mb-3">
            <label for="immatriculationType">Type d'immatriculation</label>
            <select class="form-select" formControlName="registrationType" id="immatriculationType"
                (change)="onRegistrationTypeChange()" [ngClass]="{
                    'is-invalid':
                        vehicleForm.get('registrationType')!.touched &&
                        vehicleForm.controls['registrationType'].errors
                }">
                <option *ngFor="let registrationType of registrationTypes" [value]="registrationType.id">
                    {{registrationType.value}}
                </option>
            </select>
        </div>
    </div>
    <div class="row">
        <div *ngIf="isRegistrationTypeSelected" class="col-12 col-md-4">
            <label for="registrationNumber">N° d'immatriculation</label>
            <div class="input-group mb-3">
                <input class="form-control" placeholder="N° d'immatriculation" id="registrationNumber" type="text"
                    formControlName="registrationNumber" [ngClass]="{
                        'is-invalid':
                            vehicleForm.get('registrationNumber')!.touched &&
                            vehicleForm.controls['registrationNumber'].errors
                    }" />
            </div>
        </div>
        <div *ngIf="isRegistrationTypeSelected" class="col-12 col-md-4">
            <label for="confirmRegistrationNumber">Confirmer le N° d'immatriculation</label>
            <div class="input-group mb-3">
                <input class="form-control" placeholder="Confirmer le N° d'immatriculation"
                    id="confirmRegistrationNumber" type="text" formControlName="confirmRegistrationNumber" [ngClass]="{
                        'is-invalid':
                            vehicleForm.get('confirmRegistrationNumber')!.touched &&
                            vehicleForm.controls['confirmRegistrationNumber'].errors
                    }" />
            </div>
        </div>
        <div *ngIf="isRegistrationTypeSelected" class="col-12 col-md-4">
            <label for="chassisNumber">N° de châssis</label>
            <div class="input-group mb-3">
                <input class="form-control" placeholder="N° de châssis" id="chassisNumber" type="text"
                    formControlName="chassisNumber" [ngClass]="{
                        'is-invalid':
                            vehicleForm.get('chassisNumber')!.touched &&
                            vehicleForm.controls['chassisNumber'].errors
                    }" />
            </div>
        </div>

        <div class="col-12 col-md-3">
            <label for="brand">Marque</label>
            <select class="form-select" formControlName="brand" id="brand" (change)="onBrandChange()" [ngClass]="{
                'is-invalid':
                    vehicleForm.get('brand')!.touched &&
                    vehicleForm.controls['brand'].errors
            }">
                <option *ngFor="let brand of brands" [value]="brand">{{brand}}</option>
            </select>
        </div>

        <div class="col-12 col-md-3 mt-3 mt-md-0">
            <label for="model">Modèle</label>
            <select class="form-select" formControlName="model" id="model" [ngClass]="{
                'is-invalid':
                    vehicleForm.get('model')!.touched &&
                    vehicleForm.controls['model'].errors
            }">
                <option *ngFor="let model of models" [value]="model">{{model}}</option>
            </select>
        </div>

        <div class="col-12 col-md-3 mt-3 mt-md-0">
            <label for="year">Année</label>
            <div class="input-group mb-3">
                <input class="form-control" placeholder="Année" id="year" type="number" formControlName="year"
                    [ngClass]="{
                    'is-invalid':
                        vehicleForm.get('year')!.touched &&
                        vehicleForm.controls['year'].errors
                }" />
            </div>
        </div>

        <div class="col-12 col-md-3">
            <label for="vehicleCondition">Etat du véhicule</label>
            <div class="input-group mb-3">
                <select class="form-select" formControlName="vehicleCondition" id="vehicleCondition" [ngClass]="{
                    'is-invalid':
                        vehicleForm.get('vehicleCondition')!.touched &&
                        vehicleForm.controls['vehicleCondition'].errors
                }">
                    <option *ngFor="let vehicleCondition of vehicleConditions" [value]="vehicleCondition.id">
                        {{vehicleCondition.name}}</option>
                </select>
            </div>
        </div>

        <div class="col-12 col-md-3">
            <label for="kilometrage">Kilométrage</label>
            <div class="input-group mb-3">
                <input class="form-control" placeholder="Kilométrage" id="kilometrage" type="number"
                    formControlName="kilometrage" [ngClass]="{
                    'is-invalid':
                        vehicleForm.get('kilometrage')!.touched &&
                        vehicleForm.controls['kilometrage'].errors
                }" />
                <span class="input-group-text d-flex justify-content-center">km/h</span>
            </div>
        </div>

        <div class="col-12 col-md-3">
            <label for="boite">Boite</label>
            <div class="input-group mb-3">
                <select class="form-select" formControlName="boite" id="boite" [ngClass]="{
                    'is-invalid':
                        vehicleForm.get('boite')!.touched &&
                        vehicleForm.controls['boite'].errors
                }">
                    <option value="0">Automatique</option>
                    <option value="1">Manuelle</option>
                </select>
            </div>
        </div>

        <div class="col-12 col-md-3">
            <label for="cylindre">Cylindrée</label>
            <div class="input-group mb-3">
                <select class="form-select" formControlName="cylindre" id="cylindre" [ngClass]="{
                    'is-invalid':
                        vehicleForm.get('cylindre')!.touched &&
                        vehicleForm.controls['cylindre'].errors
                }">
                    <option value="<1.0L">&lt;1.0L</option>
                    <option value="1.1L">1.1L</option>
                    <option value="1.2L">1.2L</option>
                    <option value="1.3L">1.3L</option>
                    <option value="1.4L">1.4L</option>
                    <option value="1.5L">1.5L</option>
                    <option value="1.6L">1.6L</option>
                    <option value="1.7L">1.7L</option>
                    <option value="1.8L">1.8L</option>
                    <option value="1.9L">1.9L</option>
                    <option value="2.0L">2.0L</option>
                    <option value="2.1L">2.1L</option>
                    <option value="2.2L">2.2L</option>
                    <option value="2.3L">2.3L</option>
                    <option value="2.4L">2.4L</option>
                    <option value="2.5L">2.5L</option>
                    <option value="2.6L">2.6L</option>
                    <option value="2.7L">2.7L</option>
                    <option value="2.8L">2.8L</option>
                    <option value="2.9L">2.9L</option>
                    <option value="3.0L">3.0L</option>
                    <option value="3.2L">3.2L</option>
                    <option value="3.5L">3.5L</option>
                    <option value=">4.0L">&gt;4.0L</option>
                </select>
            </div>
        </div>

        <div class="col-12 col-md-3">
            <label for="carburant">Carburant</label>
            <div class="input-group mb-3">
                <select class="form-select" formControlName="carburant" id="carburant" aria-placeholder="Carburant"
                    [ngClass]="{
                    'is-invalid':
                        vehicleForm.get('carburant')!.touched &&
                        vehicleForm.controls['carburant'].errors
                }">
                    <option value="Essence">Essence</option>
                    <option value="Diesel">Diesel</option>
                    <option value="Hybride">Hybride</option>
                    <option value="Electrique">Electrique</option>
                </select>
            </div>
        </div>

        <div class="col-12 col-md-3">
            <label for="carrosserieType">Type de carrosserie</label>
            <div class="input-group mb-3">
                <select class="form-select" formControlName="carrosserieType" id="carrosserieType"
                    aria-placeholder="Type de carrosserie" [ngClass]="{
                    'is-invalid':
                        vehicleForm.get('carrosserieType')!.touched &&
                        vehicleForm.controls['carrosserieType'].errors
                }">
                    <option value="Compacte">Compacte</option>
                    <option value="Berline">Berline</option>
                    <option value="Cabriolet">Cabriolet</option>
                    <option value="4 x 4">4 x 4</option>
                    <option value="Monospace">Monospace</option>
                    <option value="Utilitaire">Utilitaire</option>
                    <option value="Pick up">Pick up</option>
                    <option value="Autres">Autres</option>
                </select>
            </div>
        </div>

        <div class="col-12 col-md-3">
            <label for="color">Couleur</label>
            <div class="input-group mb-3">
                <select class="form-select" formControlName="color" id="color" aria-placeholder="Couleur" [ngClass]="{
                    'is-invalid':
                        vehicleForm.get('color')!.touched &&
                        vehicleForm.controls['color'].errors
                }">
                    <option value="Argent">Argent</option>
                    <option value="Beige">Beige</option>
                    <option value="Blanc">Blanc</option>
                    <option value="Bleu">Bleu</option>
                    <option value="Camel">Camel</option>
                    <option value="Corail">Corail</option>
                    <option value="Doré">Doré</option>
                    <option value="Gris">Gris</option>
                    <option value="Jaune">Jaune</option>
                    <option value="Marron">Marron</option>
                    <option value="Multicolore">Multicolore</option>
                    <option value="Noir">Noir</option>
                    <option value="Orange">Orange</option>
                    <option value="Rose">Rose</option>
                    <option value="Rouge">Rouge</option>
                    <option value="Vert">Vert</option>
                    <option value="Violet">Violet</option>
                    <option value="Autre">Autre</option>
                </select>
            </div>
        </div>

        <div class="col-12 col-md-3">
            <label for="contractNumber">Nombre de portes</label>
            <div class="input-group mb-3">
                <input class="form-control" placeholder="Nombre de portes" id="doorsNumber" type="number"
                    formControlName="doorsNumber" min="2" max="4" [ngClass]="{
                        'is-invalid':
                            vehicleForm.get('doorsNumber')!.touched &&
                            vehicleForm.controls['doorsNumber'].errors
                    }" />
                <!--(keypress)="notWritableField()"
                    (blur)="notWritableField()"-->
            </div>
        </div>


        <div class="col-12 col-md-3">
            <label for="power">Puissance fiscale</label>
            <div class="input-group mb-3">
                <input class="form-control" placeholder="Puissance" id="power" type="number" formControlName="power"
                    [ngClass]="{
                    'is-invalid':
                        vehicleForm.get('power')!.touched &&
                        vehicleForm.controls['power'].errors
                }" />
                <span class="input-group-text d-flex justify-content-center">ch</span>
            </div>
        </div>

        <div class="col-12 col-md-3">
            <label for="contractNumber">Numero du contrat</label>
            <div class="input-group mb-3">
                <input class="form-control" placeholder="Numero du contrat" id="contractNumber" type="text"
                    formControlName="contractNumber" [ngClass]="{
                        'is-invalid':
                            vehicleForm.get('contractNumber')!.touched &&
                            vehicleForm.controls['contractNumber'].errors
                    }"/>
            </div>
        </div>

        <div class="col-12 col-9"></div>

        <div class="col-12 col-md-6">
            <label for="power">Contrat</label>
            <app-upload-file (fileEvent)="getContractFile($event)"></app-upload-file>
        </div>

        <div class="col-12 col-md-6">
            <label for="power">Carte grise</label>
            <app-upload-file (fileEvent)="getChassisFile($event)"></app-upload-file>
        </div>

        <div class="col-12">
            <hr>
        </div>
    </div>
</form>