<div class="container">
    <img class="logo" src="assets/ok.png">
    <h1 class="thank">Merci ! </h1>
  
    <div class="card" style="margin-top:20px ;">
      <table style="margin-top: 6px;">
  
        <tr>
          <td><b>Temps de passage </b></td>
  
          <td>
            <p>{{order.order_time_request }}</p>
          </td>
        </tr>
       
        <tr>
          <td><b>Temps d'acceptation  </b></td>
          <td>
            <p> l'instant d'acceptation de driver </p>
          </td>
        </tr>
        <tr>
          <td><b>Date de fin  </b></td>
  
          <td>
            <p>{{order.order_time_accept }}</p>
          </td>
        </tr>
        <tr>
          <td><b>Durée</b></td>
  
          <td>
            <p>{{duree}}</p>
          </td>
        </tr>
        <tr>
          <td><b>Distance</b></td>
  
          <td>
            <p>{{distance}}</p>
          </td>
        </tr>
  
      </table>
  
    </div>
    <h4 class="message"> <b>Vos commentaires </b></h4>
  
    <div class="input-icons">
      <i class="fa fa-pencil icon"></i>
      <input class="input-field" type="text" class="feedback" placeholder="laissez vos commentaires...">
    </div>
    <input type="submit" value="Appliquer" class="submit" (click)="submit()">
  
  </div>
