<form [formGroup]="credentialsForm" (change)="onFormChange()">
  <div class="row">
    <div class="col-12 col-md-6">
      <div class="input-group mb-3">
        <span class="input-group-text d-flex justify-content-center"><i class="fas fa-key"></i></span>
        <input [type]="fieldTextTypeForPassword ? 'text' : 'password'" class="form-control" id="password"
          name="password" class="form-control" placeholder="Entrer votre mot de passe" formControlName="password"
          [ngClass]="{
                      'is-invalid':
                          credentialsForm.get('password')!.touched &&
                          credentialsForm.controls['password'].errors
                  }" />
        <span class="input-group-text cursor-pointer-class">
          <i class="fa" [ngClass]="{
                        'fa-eye-slash': !fieldTextTypeForPassword,
                        'fa-eye': fieldTextTypeForPassword
                      }" (click)="toggleFieldTextTypeForPassword()"></i>
        </span>
        <div class="invalid-feedback">
          <div *ngIf="credentialsForm.get('password')?.getError('required')">
            Taper votre mot de passe
          </div>
          <div *ngIf="credentialsForm.get('password')?.getError('pattern')">
            Le mot de passe doit contenir au moins un chiffre, une majuscule, une lettre minuscule et au moins 8 caractères.
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="input-group mb-3">
        <span class="input-group-text d-flex justify-content-center"><i class="fas fa-key"></i></span>
        <input [type]="fieldTextTypeForConfirmPassword ? 'text' : 'password'" class="form-control" id="confirmPassword"
          name="confirmPassword" class="form-control" placeholder="Confirmer votre mot de passe"
          formControlName="confirmPassword" [ngClass]="{
                      'is-invalid':
                          credentialsForm.get('confirmPassword')!.touched &&
                          credentialsForm.controls['confirmPassword'].errors}" />
        <span class="input-group-text cursor-pointer-class">
          <i class="fa" [ngClass]="{
                        'fa-eye-slash': !fieldTextTypeForConfirmPassword,
                        'fa-eye': fieldTextTypeForConfirmPassword
                      }" (click)="toggleFieldTextTypeForConfirmPassword()">
          </i>
        </span>

        <div class="invalid-feedback">
          <div *ngIf="credentialsForm.get('confirmPassword')?.getError('required')">
            Confirmer votre mot de passe
          </div>
          <div *ngIf="credentialsForm.get('confirmPassword')?.getError('pattern')">
            Le mot de passe doit contenir au moins un chiffre, une majuscule, une lettre minuscule et au moins 8 caractères.
          </div>
        </div>
      </div>
      <div *ngIf="(credentialsForm.get('password')!.dirty || credentialsForm.get('password')!.touched) &&
      (credentialsForm.get('confirmPassword')!.dirty || credentialsForm.get('confirmPassword')!.touched) &&
      credentialsForm.getError('match_error') &&
      credentialsForm.get('password')!.valid && credentialsForm.get('confirmPassword')!.valid" style="color: red;">
        {{ credentialsForm.getError('match_error') }}
      </div>
    </div>
  </div>
</form>