<div class="container">
    <img class="logo" src="assets/kawther.png">
    <h1 class="thank">Daghbouji Kawther </h1>
  
    <div class="card" style="margin-top:10px ;">
      <table style="margin-top: 6px;">
  
        <tr>
          <td><b>Nom </b></td>
  
          <td>
            <p>Daghbouji</p>
          </td>
        </tr>
       
        <tr>
          <td><b>Prenom </b></td>
          <td>
            <p>kawther</p>
          </td>
        </tr>
        <tr>
          <td><b>Date de naissnace  </b></td>
  
          <td>
            <p>04/08/1998</p>
          </td>
        </tr>
        <tr>
          <td><b>Adresse</b></td>
  
          <td>
            <p>Amdoun-beja </p>
          </td>
        </tr>
        <tr>
            <td><b>Mail:</b></td>  
          <td>
            <p>Kawtherdaghbouj@tunidesign.com</p>
          </td>
        </tr>
        <tr>
            <td><b>telephone :</b></td>  
          <td>
            <p>95440219</p>
          </td>
        </tr>
      </table>
    </div>
    <div class="card" style="margin-top:10px ;">
        <table style="margin-top: 6px;">
    
          <tr>
            <td><b>Numero de contrat  </b></td>
    
            <td>
              <p>12786324ertyu</p>
            </td>
          </tr>
         
          <tr>
            <td><b>Date de debut de contrat  </b></td>
            <td>
              <p>01/05/2022</p>
            </td>
          </tr>
          <tr>
            <td><b>Date de fin de contrat   </b></td>
    
            <td>
              <p>01/05/2023</p>
            </td>
          </tr>
          <tr>
            <td><b>Matricule</b></td>
    
            <td>
              <p>258 TN 7525 </p>
            </td>
          </tr>
          <tr>
              <td><b>Solde :</b></td>  
            <td>
              <p>1000 dt </p>
            </td>
          </tr>
          <tr>
              <td><b>Photos de voiture :</b></td>  
            <td>
                  <img class="img" src="assets/rrr.png">
              
              
            </td>
          </tr>
          <tr>
            <td><b>Options :</b></td>  
          <td>
            <p>   -vidange-lavage .... 
            </p>
          </td>
        </tr>
        </table>
      </div>
   
    <input type="submit" value="ok" class="submit" (click)="ok()">
  
  </div>

