<form [formGroup]="garageForm" (change)="onFormChange()">
    <div class="row">
        <div class="col-12 col-md-4">
            <label for="name">Nom du garage</label>
            <div class="input-group mb-3">
                <input class="form-control" placeholder="Nom du garage" id="name" type="text" formControlName="name"
                    [ngClass]="{
                        'is-invalid':
                            garageForm.get('name')!.touched &&
                            garageForm.controls['name'].errors
                    }" />
            </div>
        </div>

        <div class="col-12 col-md-4">
            <label for="garageType">Type de garage</label>
            <select class="form-select fa mb-3" aria-label="GarageType" formControlName="garageType"
                (change)="onGarageTypeChange()" [ngClass]="{
                    'is-invalid':
                        garageForm.get('garageType')!.touched &&
                        garageForm.controls['garageType'].errors
                }">
                <option value="fa fa-wrench" class="fa">&#xf0ad; Mécanique</option>
                <option value="fas fa-plug" class="fa">&#xf1e6; Electrique</option>
                <option value="fa fa-tire" class="fa">&#xf631; Pneumatique</option>
            </select>
        </div>

        <div class="col-12 col-md-4">
            <label for="capacity">Capacité</label>
            <div class="input-group mb-3">
                <input class="form-control" placeholder="Capacité" id="chassisNumber" type="number"
                    formControlName="capacity" [ngClass]="{
                        'is-invalid':
                            garageForm.get('capacity')!.touched &&
                            garageForm.controls['capacity'].errors
                    }" />
            </div>
        </div>

        <div class="col-12 col-md-4">
            <label for="email">Email</label>
            <div class="input-group mb-3">
                <span class="input-group-text d-flex justify-content-center"><i class="fas fa-envelope"></i></span>
                <input class="form-control" placeholder="email" id="email" type="text" formControlName="email"
                    [ngClass]="{
                                'is-invalid':
                                    garageForm.get('email')!.touched &&
                                    garageForm.controls['email'].errors
                            }" />
            </div>
            <div *ngIf="garageForm.get('email')!.touched
                            && garageForm.get('email')?.hasError('email')" class="invalid-feedback">
                <p style="color: red;">Tapez une adresse email valide</p>
            </div>
        </div>

        <div class="col-12 col-md-4">
            <app-phone (phoneEvent)="getPhone($event)"></app-phone>
        </div>
        
        <div class="col-12">
           <app-address-map (addressMapEvent)="getAddressMap($event)"></app-address-map>
        </div>
        <div class="col-12">
            <hr>
        </div>
    </div>
</form>