.container{
    background-color: rgba(85, 87, 96, 0.559) !important;
    border-radius: 20px !important;
}
@media screen and (min-width: 960px) {
    .container {
        width: 70%;
    }
}
@media screen and (max-width: 959px) {
    .container {
        width: 100%;
    }
}

img {
    border-radius: 50%;
    border: 1px solid #ddd;
    padding: 5px;
}


label, h4{
    color: white;
}
