<form [formGroup]="addressForm" (change)="onFormChange()">
    <div class="row">
        <div class="col-12">
            <h4>Adresse</h4>
        </div>
        <div class="col-12 col-md-6">
            <label for="country">Pays</label>
            <select class="form-select mb-3" aria-label="Default select example" formControlName="country" id="country"
                (change)="onCountryChange()" [ngClass]="{
                        'is-invalid':
                            addressForm.get('country')!.touched &&
                            addressForm.controls['country'].errors
                    }">
                <option *ngFor="let country of countries" [value]="country.id" data-image="assets/circle.png">

                    {{country.value}}
                </option>
            </select>
        </div>
        <div *ngIf="isCountrySetted" class="col-12 col-md-6">
            <label for="governorate">Governorat</label>
            <select class="form-select mb-3" aria-label="Default select example" formControlName="governorate"
                id="governorate" (change)="onGovernorateChange()" [ngClass]="{
                        'is-invalid':
                            addressForm.get('governorate')!.touched &&
                            addressForm.controls['governorate'].errors
                    }">
                <option *ngFor="let governorate of governorates" [value]="governorate">{{governorate}}</option>
            </select>
        </div>
        <div *ngIf="isGovernorateSetted" class="col-12 col-md-6">
            <label for="city">Cité</label>
            <select class="form-select mb-3" aria-label="Default select example" formControlName="city" id="city" [ngClass]="{
                'is-invalid':
                    addressForm.get('city')!.touched &&
                    addressForm.controls['city'].errors
            }">
                <option *ngFor="let city of cities" [value]="city">{{city}}</option>
            </select>
        </div>
        <div class="col-12 col-md-6">
            <label for="zipCode">Code postal</label>
            <div class="input-group mb-3">
                <input class="form-control" placeholder="Code postal" id="zipCode" type="number"
                    formControlName="zipCode" [ngClass]="{
                            'is-invalid':
                                addressForm.get('zipCode')!.touched &&
                                addressForm.controls['zipCode'].errors
                        }" />
            </div>
        </div>
    </div>
</form>