<form [formGroup]="informationForm">
    <div class="row">

        <div class="col-12 col-md-4 d-flex flex-column">
            <div class="container mt-3">
                <img alt="photo" [src]="viewedImage" width="150" height="150">
                <input type="file" class="file-upload" (change)="onFileChanged($event)">
            </div>
        </div>

        <div class="col-12 col-md-8">
            <div class="row">
                <div class="col-12">
                    <label class="mt-2 color-text">Vous êtes: </label>
                    <mat-radio-group formControlName="role" (change)="onRoleChange()">
                        <mat-radio-button *ngFor="let role of roles"
                            [value]="role.id">{{role.value}}</mat-radio-button>
                    </mat-radio-group>
                </div>

                <div class="col-12 col-md-6" *ngIf="currentRole == 2 || currentRole == 3">
                    <mat-form-field appearance="outline" class="mat-form-field-width">
                        <mat-label>Nom</mat-label>
                        <input matInput placeholder="Nom" type="text" formControlName="name">
                    </mat-form-field>
                </div>

                <div class="col-12 col-md-6" *ngIf="currentRole == 1">
                    <mat-form-field appearance="outline" class="mat-form-field-width">
                        <mat-label>Nom</mat-label>
                        <input matInput placeholder="Nom" type="text" formControlName="lastname">
                    </mat-form-field>
                </div>

                <div class="col-12 col-md-6" *ngIf="currentRole == 1">
                    <mat-form-field appearance="outline" class="mat-form-field-width">
                        <mat-label>Prénom</mat-label>
                        <input matInput placeholder="Prénom" type="text" formControlName="firstname">
                    </mat-form-field>
                </div>

                <div class="col-12 col-md-6 d-flex flex-column">
                    <mat-form-field appearance="outline" class="mat-form-field-width">
                        <mat-label>Email</mat-label>
                        <input matInput placeholder="Email" type="email" formControlName="email">
                    </mat-form-field>
                    <div *ngIf="informationForm.get('email')!.invalid 
                    && informationForm.get('email')!.touched
                    && informationForm.get('email')?.hasError('email')">
                        <p style="color: red;">Tapez une adresse email valide</p>
                    </div>
                </div>

                <div class="col-12 col-md-6">
                    <mat-form-field appearance="outline" class="mat-form-field-width">
                        <mat-label>Téléphone</mat-label>
                        <input matInput placeholder="Téléphone" formControlName="phone">
                    </mat-form-field>
                </div>

                <div class="col-12 col-md-6" *ngIf="currentRole == 2 || currentRole == 3">
                    <mat-form-field appearance="outline" class="mat-form-field-width">
                        <mat-label>Téléphone 2</mat-label>
                        <input matInput placeholder="Téléphone 2" formControlName="phone2">
                    </mat-form-field>
                </div>

                <div class="col-12 col-md-6" *ngIf="currentRole == 1">
                    <mat-form-field appearance="outline" class="mat-form-field-width">
                        <mat-label>Date de naissance</mat-label>
                        <input matInput placeholder="Date de naissance" formControlName="birthdate"
                            [matDatepicker]="picker">
                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>

                    </mat-form-field>
                </div>

                <div class="col-12 col-md-6" *ngIf="currentRole == 1">
                    <label class="mt-3 color-text">Genre: </label>
                    <mat-radio-group formControlName="gender" class=" mt-3">
                        <mat-radio-button value="auto">Féminin</mat-radio-button>
                        <mat-radio-button value="always">Masculin</mat-radio-button>
                    </mat-radio-group>
                </div>

                <div class="col-12 col-md-6" *ngIf="currentRole == 2 || currentRole == 3">
                    <mat-form-field appearance="outline" class="mat-form-field-width">
                        <mat-label>{{companyLabel}}</mat-label>
                        <mat-select formControlName="company">
                            <mat-option *ngFor="let company of companyList"
                                [value]="company.id">{{company.value}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="col-12 col-md-6" *ngIf="currentRole == 2 || currentRole == 3">
                    <mat-form-field appearance="outline" class="mat-form-field-width">
                        <mat-label>Matricule fiscale</mat-label>
                        <input matInput placeholder="Matricule fiscale" formControlName="matriculeFiscale">
                    </mat-form-field>
                </div>
            </div>
        </div>

        <div class="col-12">
            <mat-divider></mat-divider>
        </div>
    </div>
</form>