<div class="container">
    <div class="accordion" id="accordionSignUp">
        <div class="steps">
            <progress id="progress" value=0 max=100></progress>
            <div class="step-item">
                <button class="step-button text-center" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                    1
                </button>
                <div class="step-title color-text">
                    Informations
                </div>
            </div>
            <div class="step-item">
                <button class="step-button text-center collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    2
                </button>
                <div class="step-title color-text">
                    Adresse
                </div>
            </div>
            <div class="step-item">
                <button class="step-button text-center collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    3
                </button>
                <div class="step-title color-text">
                    Vehicule
                </div>
            </div>
            <div class="step-item">
                <button class="step-button text-center collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                    4
                </button>
                <div class="step-title color-text">
                    Mot de passe
                </div>
            </div>
        </div>

        <div class="card card-background">
            <div id="headingOne">
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionSignUp">
                <div class="card-body">
                    <app-informations (informationsFormEvent)="getInformationsForm($event)"></app-informations>
                    <hr>
                    <div class="d-flex justify-content-end">
                        <button class="btn stepper_btn" [disabled]="isInformationsNextBtnDisabled"
                        data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false"
                        aria-controls="collapseTwo">Suivant</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="card card-background">
            <div id="headingTwo">

            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionSignUp">
                <div class="card-body">
                    <app-address (addressFormEvent)="getAddressForm($event)"></app-address>
                    <mat-divider></mat-divider>
                    <div class="d-flex justify-content-end">
                        <button class="btn stepper_btn" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false"
                        aria-controls="collapseTwo">Retour</button>
                        <button class="btn stepper_btn" [disabled]="isAddressNextBtnDisabled"
                        type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" 
                        aria-expanded="false" aria-controls="collapseThree">Suivant</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="card card-background">
            <div id="headingThree">

            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-bs-parent="#accordionSignUp">
                <div class="card-body">
                    <div *ngFor="let item of vehiculeValues; let i = index" class="d-flex flex-column">
                        <div class="d-flex justify-content-end mt-2">
                            <button *ngIf="currentVehicleNumber > 2" mat-button
                                class="btn border add-vehicle-btn shadow" mat-raised-button #tooltip="matTooltip"
                                matTooltip="Supprimer" (click)="onDeleteButton(i)">
                                <i class="fas fa-trash"></i>
                            </button>
                        </div>
                        <app-add-vehicle></app-add-vehicle>
                    </div>
                    <mat-divider></mat-divider>
                    <div class="d-flex justify-content-center my-2">
                        <button class="btn border add-vehicle-btn shadow" (click)="onAddVehicleBtn()">
                            <i class="fas fa-plus"></i>
                        </button>
                    </div>
                    <mat-divider></mat-divider>
                    <div class="d-flex justify-content-end">
                        <button class="btn stepper_btn" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" 
                        aria-expanded="false" aria-controls="collapseThree">Retour</button>
                        <button class="btn stepper_btn" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">Suivant</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="card card-background">
            <div id="headingFour">

            </div>
            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-bs-parent="#accordionSignUp">
                <div class="card-body">
                    <app-credentials (credentialsFormEvent)="getCredentialsForm($event)"></app-credentials>
                    <mat-divider></mat-divider>
                    <div class="d-flex justify-content-end">
                        <button class="btn stepper_btn" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">Retour</button>
                        <button class="btn stepper_btn" [disabled]="isCredentialsNextBtnDisabled">S'inscrire</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>