<div class="container">
    <div class="accordion" id="accordionSignUp">
        <div class="steps">
            <progress id="progress" value=0 max=100></progress>
            <div class="step-item">
                <button class="step-button text-center" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                    <span><i class="fas fa-user"></i></span>
                </button>
                <div class="step-title color-text d-none d-md-block">
                    Informations
                </div>
            </div>
            <div *ngIf="currentRole == 1" class="step-item">
                <button class="step-button text-center collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"
                    [disabled]="isInformationsNextBtnDisabled">
                    <span><i class="fas fa-map"></i></span>
                </button>
                <div class="step-title color-text d-none d-md-block">
                    Adresse
                </div>
            </div>
            <div class="step-item">
                <button class="step-button text-center collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree"
                    [disabled]="isAddressNextBtnDisabled">
                    <span><i class="fas fa-car"></i></span>
                </button>
                <div class="step-title color-text d-none d-md-block">
                    Vehicule
                </div>
            </div>
            <div class="step-item">
                <button class="step-button text-center collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour"
                    [disabled]="isInformationsNextBtnDisabled && isAddressNextBtnDisabled">
                    <span><i class="fas fa-key"></i></span>
                </button>
                <div class="step-title color-text d-none d-md-block">
                    Mot de passe
                </div>
            </div>
        </div>

        <div class="card card-background">
            <div id="headingOne">
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionSignUp">
                <div class="card-body">
                    <app-informations (informationsFormEvent)="getInformationsForm($event)"></app-informations>
                    <hr>
                    <div class="d-flex justify-content-end">
                        <button class="btn stepper_btn" [disabled]="isInformationsNextBtnDisabled"
                        data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false"
                        aria-controls="collapseTwo">Suivant</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="card card-background">
            <div id="headingTwo">

            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionSignUp">
                <div class="card-body">
                    <app-address (addressFormEvent)="getAddressForm($event)"></app-address>
                    <hr/>
                    <div class="d-flex justify-content-end">
                        <!--button class="btn stepper_btn" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false"
                        aria-controls="collapseTwo">Retour</button-->
                        <button class="btn stepper_btn" [disabled]="isAddressNextBtnDisabled"
                        type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" 
                        aria-expanded="false" aria-controls="collapseThree">Suivant</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="card card-background">
            <div id="headingThree">

            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-bs-parent="#accordionSignUp">
                <div class="card-body">
                    <div *ngFor="let item of vehiculeValues; let i = index" class="d-flex flex-column">
                        <div class="d-flex justify-content-end mt-2">
                            <button *ngIf="currentVehicleNumber > 2" class="btn border add-vehicle-btn shadow" 
                                data-bs-toggle="tooltip" data-bs-placement="bottom" title="Supprimer" (click)="onDeleteButton(i)">
                                <i class="fas fa-trash"></i>
                            </button>
                        </div>
                        <app-add-vehicle (vehicleFormEvent)="getVehicleForm($event, i)"></app-add-vehicle>
                    </div>
                    <hr/>
                    <div class="d-flex justify-content-center my-2">
                        <button class="btn border add-vehicle-btn shadow" (click)="onAddVehicleBtn()"
                        data-bs-toggle="tooltip" data-bs-placement="bottom" title="Ajouter un véhicule">
                            <i class="fas fa-plus"></i>
                        </button>
                    </div>
                    <hr/>
                    <div class="d-flex justify-content-end">
                        <!--button class="btn stepper_btn" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" 
                        aria-expanded="false" aria-controls="collapseThree">Retour</button-->
                        <button class="btn stepper_btn" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">Suivant</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="card card-background">
            <div id="headingFour">

            </div>
            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-bs-parent="#accordionSignUp">
                <div class="card-body">
                    <app-credentials (credentialsFormEvent)="getCredentialsForm($event)"></app-credentials>
                    <hr/>
                    <div class="d-flex justify-content-end">
                        <!--button class="btn stepper_btn" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">Retour</button-->
                        <button class="btn stepper_btn" [disabled]="isCredentialsNextBtnDisabled"
                        (click)="signup()">S'inscrire</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>