<form [formGroup]="credentialsForm" (change)="onFormChange()">
    <div class="row">
        <div class="col-12 col-md-4">
            <div class="input-group mb-3">
                <span class="input-group-text d-flex justify-content-center"><i class="fas fa-key"></i></span>
                <input  [type]="fieldTextTypeForPassword ? 'text' : 'password'" class="form-control" id="password"
                    name="password"  class="form-control" placeholder="Entrer votre mot de passe"
                    formControlName="password"/>
                <span class="input-group-text cursor-pointer-class">
                    <i
                      class="fa"
                      [ngClass]="{
                        'fa-eye-slash': !fieldTextTypeForPassword,
                        'fa-eye': fieldTextTypeForPassword
                      }"
                      (click)="toggleFieldTextTypeForPassword()"
                    ></i>
                  </span>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="input-group mb-3">
                <span class="input-group-text d-flex justify-content-center"><i class="fas fa-key"></i></span>
                <input  [type]="fieldTextTypeForConfirmPassword ? 'text' : 'password'" class="form-control" id="confirmPassword"  
                    name="confirmPassword"  class="form-control" placeholder="Confirmer votre mot de passe" 
                    formControlName="confirmPassword"/>
                <span class="input-group-text cursor-pointer-class">
                    <i
                      class="fa"
                      [ngClass]="{
                        'fa-eye-slash': !fieldTextTypeForConfirmPassword,
                        'fa-eye': fieldTextTypeForConfirmPassword
                      }"
                      (click)="toggleFieldTextTypeForConfirmPassword()"
                    ></i>
                  </span>
            </div>
        </div>
    </div>
</form>