

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>

<h2 style="text-align: center; color: white;">Share your informations please</h2>


<div class="container">
  <form >
    <div class="row">
      <div class="col-25">
        <label for="location" style="color: white;">PickUp Location *</label>
      </div>
      <div class="col-75">
        <input type="text" id="location" name="location" placeholder="Your location .."  [(ngModel)]="pickUpLocation">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="destination" style="color: white;">Destination *</label>
      </div>
      <div class="col-75">
        <input type="text" id="destination" name="destination" placeholder="Your destination.." [(ngModel)]="destination">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="phone" style="color: white;">Phone *</label>
      </div>
      <div class="col-75">
        <input type="text" id="phone" name="phone" placeholder="Your phone.." [(ngModel)]="phone">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="people" style="color: white;">People *</label>
      </div>
      <div class="col-75">
        <input class="input-field" style="width: 200px;" type="number" id="poeple" name="poeple" placeholder="How many poeple"  min="1" max="5" [(ngModel)]="people"/>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="matricule" style="color: white;">Registration number *</label>
      </div>
      <div class="col-75">
        <input type="number" id="matricule" name="matricule" placeholder="Your Registration number .." [(ngModel)]="matricule">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="isloaded"  style="color: white;">Is it a loaded vehicle?*</label>
      </div>
      <div class="col-75">
        <input type="radio" name="yes" id="yes" value="yes"  [(ngModel)]="isLoaded" >
            <label style="color:white;" for="yes">Yes</label>
            <input type="radio" name="no" id="no" value="no"  [(ngModel)]="isLoaded">
            <label style="color:white" for="no">No</label>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="type"  style="color: white;">What Type of situation*</label>
      </div>
      <div class="col-75">
        <input type="radio" name="accident" id="accident" value="accident"  [(ngModel)]="situationType" >
            <label style="color:white;" for="male">Accident</label>
            <input type="radio" name="panne" id="panne" value="panne"  [(ngModel)]="situationType">
            <label style="color:white" for="panne">Panne</label>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="details"  style="color: white;">Details *</label>
      </div>
      <div class="col-75">
        <textarea id="details" name="details" placeholder="Write some details please.." style="height:200px"></textarea>
      </div>
    </div>
    <div class="row">
      <input type="submit" value="Submit" (click)="confirm()">
    </div>
  </form>
</div>
